<h2><%= workout.activity_type %></h2>
<p>Location: <%= workout.location %></p>
<p>Intensity-level: <%= workout.intensity_level %></p>
<p>Date: <%= workout.date %></p>
<p>Duration: <%= workout.duration %> mins</p>
