<div class="container">

  <div class="d-flex flex-column bd-highlight mb-3">

    <div class="container-white">
      <div class="p-2 bd-highlight">
        <h3>Search by any word</h3>
        <%= form_with url: workouts_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Hoxton..."
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <div class="container-white">
      <div class="p-2 bd-highlight">
        <h3>Choose a workout type</h3>
        <% Workout::WORKOUT_EMOJIS.each do |key, value|%>
          <%= link_to value, workouts_path(category: key), class: "btn btn-ghost" %>
        <% end %>
      </div>
    </div>

  </div>

  <h3><%= @search_copy %></h3>
  <% if @workouts.empty? %>
    <p class="text-start"> There are no results for your search 💔 </p>
  <% end %>

  <div class="container-workouts">
    <% @workouts.each do |workout| %>
      <div class="card-workout">
        <%= link_to workout_path(workout), class: "text-decoration-none" do %>
          <%= cl_image_tag workout.photo.key %>
          <div class="card-workout-infos">
            <div>
              <h2><%= workout.activity_type %></h2>
              <p>Date: <%= workout.date.strftime("%e %h %Y") %></p>
              <%# <p>Time: <%= workout.time %>
              <p>Location: <%= workout.location %></p>
              <p>Intensity: <%= workout.intensity_level %></p>
            </div>
            <p>Duration: <%= workout.duration %> mins</p>
            <%= cl_image_tag workout.user.photo.key, class: "card-workout-user card-avatar" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @workout_location.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<%= render "shared/navbar_footer" %>
