<div class="container">

  <div class="d-flex flex-column bd-highlight mb-3">

    <div class="container-white">
      <div class="p-2 bd-highlight">
        <%= form_with url: workouts_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control me-1",
            placeholder: "ðŸ” Location"
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <div class="container-white">
      <div class="d-flex flex-row justify-content-between">
        <div>
          <h3 class="p-2">Activity filter</h3>
        </div>
        <div class="align-items-end w-10 my-1 p-2">
          <%= link_to workouts_path, style: "text-decoration: none" do %>
            <div>All
              <i class="fa-solid fa-lg fa-rotate mx-1"></i>
            </div>
          <% end %>
        </div>
      </div>
      <div class="p-2 bd-highlight">
        <div class="nav-horizontal-scroll">
          <div class="container nav-list" data-controller="nav-scroll-into-view">
            <% Workout::WORKOUT_EMOJIS.each do |key, value|%>
              <%= link_to value, workouts_path(category: key), class: "btn btn-ghost", data: {action: "click->nav_scroll_into_view#scrollIntoView"}%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3><%= @search_copy %></h3>
  <% if @workouts.empty? %>
    <p class="text-start"> There are no results for your search ðŸ’” </p>
  <% end %>

  <div class="container-workouts">
    <% @workouts.each do |workout| %>
      <div class="card-workout">
        <%= link_to workout_path(workout), class: "text-decoration-none" do %>
          <%= cl_image_tag workout.photo.key %>
          <div class="card-workout-infos">
            <div>
              <h2><%= workout.activity_type %></h2>
              <p>Date: <%= workout.date.strftime("%e %h %Y") %></p>
              <%# <p>Time: <%= workout.time %>
              <p>Location: <%= workout.location %></p>
              <p>Intensity: <%= workout.intensity_level %></p>
            </div>
            <p>Duration: <%= workout.duration %> mins</p>
            <%= cl_image_tag workout.user.photo.key, class: "card-workout-user card-avatar" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @workout_location.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<%= render "shared/navbar_footer" %>
