<div class="container">
  <%= form_with url: workouts_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a workout"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <div class="container-workouts">
    <% @workouts.each do |workout| %>
      <div class="card-workout">
        <%= link_to workout_path(workout), class: "text-decoration-none" do %>
          <%= cl_image_tag workout.photo.key %>
          <div class="card-workout-infos">
            <div>
              <h2><%= workout.activity_type %></h2>
              <p>Date: <%= workout.date %></p>
              <%# <p>Time: <%= workout.time %>
              <p>Location: <%= workout.location %></p>
              <p>Intensity: <%= workout.intensity_level %></p>
            </div>
            <p>Duration: <%= workout.duration %></p>
            <%= cl_image_tag workout.user.photo.key, class: "card-workout-user card-avatar" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
