<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <%= link_to workouts_path do %>
      <div class="secondary-button">
        <i class="fa-solid fa-arrow-left"></i>
      </div>
    <% end %>

    <h1><%= @workout.activity_type %></h1>

    <p><strong>Activity: </strong><%= @workout.activity_type %><br>
    <strong>Intensity: </strong><%= @workout.intensity_level %><br>
    <strong>Location: </strong><%= @workout.location %><br>
    <strong>Date: </strong><%= @workout.date.strftime("%e %h %Y") %><br>
    <strong>Start time: </strong><%= @workout.start_time.strftime("%H:%M") %><br>
    <strong>Duration: </strong><%= @workout.duration %> mins<br>
    <strong>Description: </strong><%= @workout.description %><br>
    <strong>Capacity: </strong><%= @workout.capacity %><br></p>
    <%= link_to "See user's profile", user_path(@user) %>
    <% if @workout.bookings.empty? %>
      <%= render "bookings/form", workout: @workout, booking: @booking %>
    <% end %>

    <% if current_user == @workout.user %>
      <%= link_to edit_workout_path(@workout.id) do %>
      <div class="secondary-button">
          <i class="fa-solid fa-pen-to-square"></i>
      </div>
      <% end %>
    <% end %>

    <% if current_user == @workout.user %>
    <%= link_to workout_path(@workout.id),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
        <div class="secondary-button">
          <i class="fa-solid fa-trash"></i>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="show-page-map"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>">
</div>

<%= render "shared/navbar_footer" %>
