<%# RJ CHAT CODE BELOW %>
<% workout_chat = Chat.where(booking_id: @workout.bookings.ids.first) %>
<div class="container pb-5 mb-4">
  <div class="container-white">
    <div class="mb-2">
      <%= link_to workouts_path do %>
        <div>
          <i class="fa-solid fa-arrow-left"></i>
        </div>
      <% end %>
    </div>
    <div class="card-workout">
      <%= cl_image_tag @workout.photo.key, class: "img" %>
    </div>
    <div class="container-content">
      <h1><%= @workout.activity_type %></h1>
      <% if @workout.is_host?(current_user) %>
        <% if @workout.has_a_booking? %>
          <h3>Joined by <%= @workout.name_of_buddy(current_user) %></h3>
        <% end %>
      <% end %>

      <% unless @workout.is_host?(current_user) %>
        <h3>Hosted by <%= @workout.name_of_buddy(current_user) %></h3>
      <% end %>
      <%# RJ CHAT CODE BELOW %>
      <%= link_to "Chat", booking_chat_path(@workout.bookings.first.id, workout_chat.first.id) if @workout.has_a_booking? %>
      <p><%= @workout.duration %> mins, <%= @workout.intensity_level %>/5 intensity</p>
      <% if !@workout.has_a_booking? && !@workout.is_host?(current_user) %>
        <%= render "bookings/form", workout: @workout, booking: @booking %>
      <% end %>

      <% if @workout.ask_for_rating?(current_user) %>
        <div class="container-yellow">
          <div class="d-flex align-items-center justify-content-between mt-1">
            <div class="flex-fill">
              <h3>How was it?</h3>
            </div>
            <div class="btn-group" role="group" aria-label="Did buddy attend buttons">
              <button type="button" class="btn btn-outline-primary bg-light me-1" data-bs-toggle="modal" data-bs-target="#feedbackModal"> 👎 </button>
              <button type="button" class="btn btn-outline-primary bg-primary" data-bs-toggle="modal" data-bs-target="#feedbackModal"> 👍 </button>
            </div>
          </div>
        </div>
        <!-- Feedback Modal -->
        <div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="feedbackModalLabel">How was the <%= @workout.activity_type %> with <%= @workout.name_of_buddy(current_user) %>?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" >
                <%= render "ratings/form", workout: @workout, booking: @workout.bookings.first, rating: @rating %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% if @workout.has_a_rating? %>
        <% @workout.bookings.first.ratings.each do |rating| %>
          <div class="container-yellow">
            <p><%= rating.buddy_rating %> star rating</p>
            <p><%= rating.comment %></p>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="container-content">
      <div class="d-flex flex-row justify-content-between">
        <div class="flex-fill">
          <h4>Workout details</h4>
        </div>
        <div class="align-self-center mx-2">
          <% if @workout.is_host?(current_user) && !@workout.date.past? %>
            <%= link_to edit_workout_path(@workout.id) do %>
              <div>
                  <i class="fa-solid fa-sm fa-pen-to-square"></i>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="align-self-center mx-2">
          <% if @workout.is_host?(current_user) && !@workout.date.past? %>
            <%= link_to workout_path(@workout.id),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                  <div>
                    <i class="fa-solid fa-sm fa-trash"></i>
                  </div>
            <% end %>
          <% end %>
          <% unless @workout.is_host?(current_user) || @workout.date.past? %>
            <%= link_to workout_path(@workout), style: "text-decoration: none;",
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <div>
                <i class="fa-solid fa-lg fa-xmark"></i> Cancel
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <p><%=  @workout.description.capitalize %></p>

      <div class="d-flex flex-row justify-content-between">
        <div>
          <h5>When: </h5>
        </div>
        <div class="flex-fill text-end">
          <p><%= @workout.date.strftime("%e %h %Y") %>, <%= @workout.start_time.strftime("%H:%M") %></p>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-between">
        <div>
          <h5>Duration: </h5>
        </div>
        <div class="flex-fill text-end">
          <p><%= @workout.duration %> (mins)</p>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-between">
        <div>
          <h5>Where: </h5>
        </div>
        <div class="flex-fill text-end">
          <p><%= @workout.location%></p>
        </div>
      </div>
    </div>
    <div class="container-content">
      <div class="show-page-map"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>">
      </div>
    </div>
  <% if @workout.is_host?(current_user) %>
    <% if @workout.has_a_booking? %>
      <div class="container-content">
        <%= link_to user_path(@workout.buddy(current_user)), style: "color: #2C302E; text-decoration: none;" do %>
          <div class="d-flex flex-row justify-content-between">
            <div class="flex-fill pe-1">
              <h4>Meet <%= @workout.name_of_buddy(current_user) %> >></h4>
              <p><%= @workout.name_of_buddy(current_user) %> joined <span style="color: $fern-green">Let's Go</span> in <%= @user.created_at.strftime("%b %y") %><br>
              A little about them: <%= @workout.buddy(current_user).about_me.truncate(30) %></p>
            </div>
            <div class="align-self-center">
              <%= cl_image_tag @workout.buddy(current_user).photo.key, class: "avatar-large" %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <% unless @workout.has_a_booking? %>
      <div class="container-content">
        <div class="d-flex flex-row justify-content-between">
          <div class="flex-fill">
            <h4>There's still space to join this workout</h4>
            <p></p>
          </div>
          <div class="align-self-center">
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <% unless @workout.is_host?(current_user) %>
    <div class="container-content">
      <%= link_to user_path(@user), style: "color: #2C302E; text-decoration: none;" do %>
        <div class="d-flex flex-row justify-content-between">
          <div class="flex-fill">
            <h4>Check out <%= @workout.user.first_name.capitalize %>'s profile >></h4>
            <p><%= @workout.user.first_name.capitalize %> joined <span style="color: $fern-green">Let's Go</span> in <%= @user.created_at.strftime("%b %y") %><br>
            A little about them: <%= @workout.user.about_me.truncate(30) %></p>
          </div>
          <div class="align-self-center">
            <%= cl_image_tag @workout.user.photo.key, class: "avatar-large" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  </div>
  <%= render "shared/navbar_footer" %>
</div>
