<% host = @workout.user %>
<% has_booking = @workout.bookings.first.present? %>
<% guest = has_booking ? @workout.bookings.first.user : "buddy" %>
<% buddy = (@workout.user == current_user ? guest : host)  %>
<div class="container pb-5 mb-4">
  <div class="container-white">
    <div class="mb-2">
      <%= link_to workouts_path do %>
        <div>
          <i class="fa-solid fa-arrow-left"></i>
        </div>
      <% end %>
    </div>
    <div class="card-workout">
      <%= cl_image_tag @workout.photo.key, class: "img" %>
    </div>
    <div class="container-content">
      <h1><%= @workout.activity_type %></h1>
      <% if current_user == host %>
        <% if has_booking %>
          <h3>Joined by <%= buddy.first_name.capitalize %></h3>
        <% end %>
      <% end %>
      <% unless current_user == host %>
        <h3>Hosted by <%= buddy.first_name.capitalize %></h3>
      <% end %>
      <p><%= @workout.duration %> mins, <%= @workout.intensity_level %>/5 intensity</p>

      <% if @workout.bookings.empty? && current_user != host %>
        <%= render "bookings/form", workout: @workout, booking: @booking %>
      <% end %>

      <% if @workout.bookings.present? && @workout.date.past?  %>
        <div class="container-yellow">
          <div class="d-flex align-items-center justify-content-between mt-1">
            <div class="flex-fill">
              <h3>How was it?</h3>
            </div>
            <div class="btn-group" role="group" aria-label="Did buddy attend buttons">
              <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#sorryModal"> 👎 </button>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#feedbackModal"> 👍 </button>
            </div>
          </div>
            <%# <%= link_to "How was your workout?", new_workout_booking_rating_path(@workout.id, @booking.id) %>
            <%# <%= render "ratings/form", booking: @workout.bookings, rating: Rating.new %>
        </div>
        <!-- Sorry Modal -->
        <div class="modal fade" id="sorryModal" tabindex="-1" aria-labelledby="sorryModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="sorryModalLabel">We're sorry they didn't show up 😭</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <%# <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div> %>
            </div>
          </div>
        </div>
        <!-- Feedback Modal -->
        <div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="feedbackModalLabel">How was the workout with <%= buddy.first_name %>?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" >
                <%= render "ratings/form", workout: @workout, booking: @workout.bookings.first, rating: @rating %>
              </div>
              <div class="modal-footer">
                <%# <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit</button> %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="container-content">
      <div class="d-flex flex-row justify-content-between">
        <div class="flex-fill">
          <h4>Workout details</h4>
        </div>
        <div class="align-self-center mx-2">
          <% if current_user == @workout.user %>
            <%= link_to edit_workout_path(@workout.id) do %>
              <div>
                  <i class="fa-solid fa-sm fa-pen-to-square"></i>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="align-self-center mx-2">
          <% if current_user == @workout.user %>
            <%= link_to workout_path(@workout.id),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                  <div>
                    <i class="fa-solid fa-sm fa-trash"></i>
                  </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <p><%=  @workout.description.capitalize %></p>



      <div class="d-flex flex-row justify-content-between">
        <div>
          <h5>When: </h5>
        </div>
        <div class="flex-fill text-end">
          <p><%= @workout.date.strftime("%e %h %Y") %>, <%= @workout.start_time.strftime("%H:%M") %></p>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-between">
        <div>
          <h5>Duration: </h5>
        </div>
        <div class="flex-fill text-end">
          <p><%= @workout.duration %> (mins)</p>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-between">
        <div>
          <h5>Where: </h5>
        </div>
        <div class="flex-fill text-end">
          <p><%= @workout.location%></p>
        </div>
      </div>
    </div>
    <div class="container-content">
      <div class="show-page-map"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>">
      </div>
    </div>
  <% if current_user == host %>
    <% if has_booking %>
      <div class="container-content">
        <%= link_to user_path(buddy), style: "color: #2C302E; text-decoration: none;" do %>
          <div class="d-flex flex-row justify-content-between">
            <div class="flex-fill pe-1">
              <h4>Meet <%= buddy.first_name.capitalize %> >></h4>
              <p><%= buddy.first_name.capitalize %> joined <span style="color: $fern-green">Let's Go</span> in <%= @user.created_at.strftime("%b %y") %><br>
              A little about them: <%= buddy.about_me.truncate(30) %></p>
            </div>
            <div class="align-self-center">
              <%= cl_image_tag buddy.photo.key, class: "avatar-large" %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <% unless has_booking %>
      <div class="container-content">
        <div class="d-flex flex-row justify-content-between">
          <div class="flex-fill">
            <h4>There's still space to join this workout</h4>
            <p></p>
          </div>
          <div class="align-self-center">
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <% unless current_user == host %>
    <div class="container-content">
      <%= link_to user_path(@user), style: "color: #2C302E; text-decoration: none;" do %>
        <div class="d-flex flex-row justify-content-between">
          <div class="flex-fill">
            <h4>Check out <%= @workout.user.first_name.capitalize %>'s profile >></h4>
            <p><%= @workout.user.first_name.capitalize %> joined <span style="color: $fern-green">Let's Go</span> in <%= @user.created_at.strftime("%b %y") %><br>
            A little about them: <%= @workout.user.about_me.truncate(30) %></p>
          </div>
          <div class="align-self-center">
            <%= cl_image_tag @workout.user.photo.key, class: "avatar-large" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  </div>
  <%= render "shared/navbar_footer" %>
</div>
