<div class="container">
  <%= link_to "<- Back", bookings_path   %><br><br>
  <h1>This is the booking show page</h1>

  <p><strong>Booking ID: </strong><%= @booking.id %><br>
  <strong>Date of booking: </strong><%= @booking.booking_date %><br></p>
  <%= link_to "Go to workout", workout_path(@booking.workout_id)   %><br><br>
</div>
<%= render "shared/navbar_footer" %>
