<div class="container pb-5 mb-4">
  <div class="container-users">
    <div class="mb-2 align-items-end">
      <% if current_user == @user %>
        <%= link_to edit_user_registration_path(@user) do %>
          <div>
            <i class="fa-solid fa-sm fa-pen-to-square"></i>
          </div>
        <% end %>
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
      <% end %>
    </div>

    <% if @user == current_user %>
    <div class="background-image d-flex justify-content center p-3"><%= cl_image_tag @user.photo.key, class: "avatar-bordered-user-profile" %></div>
      <div class="my-profile-info"><p style="padding: 10px; border-bottom: 1px solid grey;"><strong><%= @user.first_name %> <%= @user.last_name %></strong></p>
      <p style="padding: 10px; border-bottom: 1px solid grey;"><strong>About me:</strong> <i class="fa-thin fa-book-user"></i><%= @user.about_me %></p>
      <p style="padding: 10px; border-bottom: 1px solid grey;"><strong>Fitness Goals:</strong> <i class="fa-solid fa-bullseye"> </i><%= @user.fitness_goal %></p>
      <p style="padding: 10px; border-bottom: 1px solid grey;"><strong>Fitness Level:</strong> <i class="fa-solid fa-chart-column"> </i> <%= @user.fitness_level %></p>
      <p style="padding: 10px; border-bottom: 1px solid grey;"><strong>Attendance:</strong> <i class="fa-sharp fa-solid fa-clipboard-user"></i><%= @user.attendance %></p>
      <p style="padding: 10px; border-bottom: 1px solid grey;"><strong>Rating:</strong> <i class="fa-solid fa-star"></i><%= @user.avg_rating %></p></div>
      <br>
    <% else %>
      <h2><center> <%= @user.username %><center> </h2>
      <div class="background-image d-flex justify-content-center"> <%= cl_image_tag @user.photo.key, class: "avatar-bordered-user-profile" %></div>
      <div class="profile-info"><p style="padding: 10px; border-bottom: 2px solid grey;"><strong>About me:</strong> <i class="fa-thin fa-book-user"></i> <%= @user.about_me %></p>
      <p style="padding: 10px; border-bottom: 2px solid grey;"><strong>Fitness goal:</strong> <i class="fa-solid fa-bullseye"></i> <%= @user.fitness_goal %></p>
      <p style="padding: 10px; border-bottom: 2px solid grey;"><strong>Fitness level:</strong> <i class="fa-solid fa-chart-column"></i> <%= @user.fitness_level %></p>
      <p style="padding: 10px; border-bottom: 2px solid grey;"><strong>Attendance:</strong> <i class="fa-sharp fa-solid fa-clipboard-user"></i> <%= @user.attendance %></p>
      <p style="padding: 10px; border-bottom: 2px solid grey;"><strong>Rating:</strong> <i class="fa-solid fa-star"></i> <%= @user.avg_rating %></p>
      <%# <%= link_to "Log out", destroy_user_session_path, class: "log-out-button", data: {turbo_method: :delete} %>
    <% end %>
  </div>
</div>
<%= render "shared/navbar_footer" %>
