<div id="fcontain">
  <div id="footer">
    <div class="column">
      <div class="footer-icons"><%= link_to workouts_path do %>
        <i class="fa-solid fa-1x fa-magnifying-glass"></i>
        <p>Find</p>
      <% end %></div>
      <div class="footer-icons"><%= link_to workouts_path do %>
        <i class="fa-regular fa-1x fa-message"></i>
        <p>Chats</p>
      <% end %></div>
      <div class="footer-icons"><%= link_to new_workout_path do %>
        <i class="fa-regular fa-1x fa-square-plus"></i>
        <p>New</p>
      <% end %></div>
      <div class="footer-icons"><%= link_to workouts_my_workouts_path do %>
        <i class="fa-regular fa-1x fa-calendar"></i>
        <p>Workouts</p>
      <% end %></div>
      <div class="footer-icons"><%= link_to user_path(current_user) do %>
        <i class="fa-regular fa-1x fa-user"></i>
        <p>Profile</p>
      <% end %></div>
    </div>
  </div>
</div>
