<div data-controller='stars'>
  <%= simple_form_for([workout, booking, Rating.new]) do |f| %>
    <%= f.input :buddy_attended,
                as: :boolean,
                :input_html => { :checked => true },
                class: "justify-content-between",
                label: "We worked out" %>
    <%= f.input :buddy_rating,
                as: :radio_buttons,
                collection: [[1], [2], [3], [4], [5]],
                # label: false,
                label_method: :second,
                value_method: :first,
                input_html: {class: "star-rating no-twinkle", data: {stars_target: 'twinkles', action: 'change->stars#changeRating'}},
                item_wrapper_class: 'star-buttons'%>
    <%= f.input :comment,
                placeholder: "Keep up the great work...",
                label: "Share some words of encouragement 🙌 " %>
    <%= f.submit "Share", class: "button-design" %>
  <% end %>
</div>
