<h2>Add a review</h2>
<%= simple_form_for([@booking, @rating]) do |f| %>
  <%= f.input :buddy_attended, as: :boolean,
              label: "Did your buddy show up?" %>
  <%= f.input :buddy_rating,
              as: :radio_buttons,
              collection: [1, 2, 3, 4, 5],
              label: "How great was your buddy?" %>
  <%= f.input :comment,
              label: "More feedback (optional)" %>
  <%= f.submit "Submit review", class: "button-design" %>
<% end %>
