<div class="container">
<div class="container-white">
  <h2>Chats</h2>

  <% if @my_bookings_guest.present? %>
    <% @my_bookings_guest.each do |guest_booking| %>
      <%= User.find(Workout.find(guest_booking.workout_id).user_id).email %>
      <p>Guest Booking:  <%= link_to guest_booking.chat.id, booking_chat_path(guest_booking, guest_booking.chat.id) %> </p>
    <% end %>
  <% end %>

  <% if current_user.bookings_as_owner.present? %>
    <% current_user.bookings_as_owner.each do |booking| %>
      <% guest_booker = booking.user.email %>
      <p>Host Booking: <%= guest_booker %> <%= link_to booking.chat.id, booking_chat_path(booking, booking.chat.id) %> </p>
    <% end %>
  <% end %>
</div>
</div>

<%= render "shared/navbar_footer" %>
