<div class="banner-my-workouts" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://hult-center-assets.s3.amazonaws.com/uploads/2022/07/Running-WebBanner-2100x700-1-1800x600.jpg)">
  <h1>Chats</h1>
</div>
<div class="container">
  <div class="container-white">

    <% @all_ordered_chats.each do |chat| %>
      <%= link_to booking_chat_path(chat.booking, chat.id), style: "color: #2C302E;", class: "text-decoration-none" do %>
        <div class="d-flex flex-row justify-content-start card-my-workouts">
          <div>
            <% if chat.booking.user.id == current_user.id %>
              <%= cl_image_tag chat.booking.workout.user.photo.key, class: "p-2", height: 72, width: 72, radius: "max", crop: "fill", gravity: "face" %>
            <% else %>
              <%= cl_image_tag chat.booking.user.photo.key, class: "p-2", height: 72, width: 72, radius: "max", crop: "fill", gravity: "face" %>
            <% end %>
          </div>
          <div class="ps-2">
            <div class="d-flex flex-row">
              <div>
                <% if chat.booking.user.id == current_user.id %>
                  <h6><%= chat.booking.workout.user.username %></h6>
                <% else %>
                  <h6><%= chat.booking.user.username %></h6>
                <% end %>
              </div>
              <div class="px-2">
                <h6><%= chat.booking.workout.activity_type %></h6>
              </div>
            </div>

            <p><%= chat.booking.workout.date.strftime("%e %h %Y") %></p>

            <div>
              <em><%= chat.messages.any? ? chat.messages.last.content : "Say hi!" %></em>
            </div>

          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</div>

<%= render "shared/navbar_footer" %>
