<div class="banner-my-workouts" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://hult-center-assets.s3.amazonaws.com/uploads/2022/07/Running-WebBanner-2100x700-1-1800x600.jpg)">
  <h1>Chats</h1>
</div>
<div class="container">
  <div class="container-white">
    <% @all_ordered_chats.each do |chat| %>
      <%= link_to booking_chat_path(chat.booking, chat.id), style: "color: #2C302E;", class: "text-decoration-none" do %>
        <div class="d-flex flex-row justify-content-around card-my-workouts">
          <div>
            <% if chat.booking.user.id == current_user.id %>
              <%= cl_image_tag chat.booking.workout.user.photo.key, height: 80, width: 80, crop: "fill", gravity: "face" %>
            <% else %>
              <%= cl_image_tag chat.booking.user.photo.key, height: 80, width: 80, crop: "fill", gravity: "face" %>
            <% end %>
          </div>
          <div class="flex-fill mx-2 py-2">
            <% if chat.booking.user.id == current_user.id %>
              <h6 class="m-0"><%= chat.booking.workout.activity_type %> with <%= chat.booking.workout.user.first_name %></h6>
            <% else %>
              <h6 class="m-0"><%= chat.booking.workout.activity_type %> with <%= chat.booking.user.first_name %></h6>
            <% end %>
            <p class="m-0"><%= chat.booking.workout.date.strftime("%e %h %Y") %></p>
            <div>
              <em><%= chat.messages.any? ? chat.messages[0].content.truncate(22) : "Say hi!" %></em>
            </div>
          </div>
          <div class="flex-shrink-0 mx-3 align-items-center">
            <p><%= chat.messages.any? ? chat.messages[0].updated_at.strftime("%H:%M") : "" %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= render "shared/navbar_footer" %>
