<% provide(:title, "Messages") %>

<div class="banner-my-workouts"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @chat.booking.workout.photo.key, crop: :fill %>')"
>
  <div class="back-button">
    <%= link_to chats_path do %>
      <div>
        <i class="fa-solid fa-arrow-left"></i>
      </div>
    <% end %>
  </div>
  <% if @chat.booking.user.id == current_user.id %>
    <h1><%= @chat.booking.workout.user.first_name %> · <%= @chat.booking.workout.activity_type %> <br> <%= @chat.booking.workout.date.strftime("%e %h %Y") %> </h1>
  <% else %>
    <h1><%= @chat.booking.user.first_name %> · <%= @chat.booking.workout.activity_type %> <br> <%= @chat.booking.workout.date.strftime("%e %h %Y") %> </h1>
  <% end %>
</div>

<div class="chat"
    data-controller="chat-subscription"
    data-chat-subscription-chat-id-value="<%= @chat.id %>"
    data-chat-subscription-current-user-id-value="<%= current_user.id %>">

  <div class="messages" data-chat-subscription-target="messages">
    <% @chat.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="m-2 p-2">
    <%= simple_form_for [@booking, @chat, @message],
          html: {class: "d-flex m-0 p-2",
          data: { action: "turbo:submit-end->chat-subscription#resetForm" }
    } do |f|
    %>
      <%= f.input :content,
        label: false,
        placeholder: "Write a message",
        wrapper_html: {class: "flex-grow-1 me-1"}
      %>
      <%= f.submit "💬", class: "btn btn-primary mb-3" %>
    <% end %>
  </div>
</div>
<%= render "shared/navbar_footer" %>
